.post {
  width: 80%;
  height: fit-content;
  border-radius: 10px;
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin-top: 0.5rem;

  .postWrapper {
    padding: 10px;
    .postTop {
      display: flex;
      justify-content: space-between;
      .postHeader {
        display: flex;
        .postProfileImg {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
          margin-right: 10px;
        }
        .profileUserInfo {
          display: flex;
          justify-content: space-evenly;
          flex-direction: column;
          .postInfoDate {
            font-size: 11px;
            margin: 0;
          }
        }
      }

      .profileOptions {
        position: relative;
        cursor: pointer;
        .profileOptionsMenu {
          position: absolute;
          top: 25px;
          right: 20px;

          .profileOptionsButton {
            width: 120px;
            height: 35px;
            border-radius: 5px;
            padding: 3px;
            border: none;
            background-color: #f56040;
            color: white;
            font-size: 16px;
            cursor: pointer;
          }
        }
      }
    }
  }
  .postContent {
    padding: 10px 0;
    .imgWrapper {
      .imgContent {
        max-width: 100%;
        object-fit: cover;
      }
    }
    .postTitle {
      margin-top: 5px;
      padding-left: 15px;
      display: block;
    }
    .postDescription {
      padding: 10px;
      margin: 0;
    }
  }
}

.postBottom {
  .reacts {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    .likesNumber {
      display: flex;
      align-items: center;
    }
    .reactsCount {
      cursor: pointer;
    }
    .commentNumber {
      display: flex;
      align-items: center;
    }
  }
}

.action {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.reactions {
  display: flex;
  align-items: center;
  &.red {
    color: #fd1d1d;
  }
}

@media screen and (max-width: 600px) {
  .post {
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 0;
    .reacts {
      padding: 0;
    }
    .postBottom {
      width: 100%;
      .action {
        margin: 0;
        padding: 0;
        width: 100%;
      }
      .reactions {
        margin-right: 0.2rem;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .post {
    margin-left: 2rem;
  }
  .action {
    padding: 0;
  }
}
@media screen and (min-width: 1024px) {
  .post {
    margin-left: 0;
  }
}
